.completed {
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

body {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

form {
    margin-top: 20px;
}

input {
    color: red;
    margin-right: 10px;
}

button {
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    font-size: 20px;
}

.accept:hover {
    color: green;
    border: solid 2px green;
}

.delete:hover {
    color: red;
    border: solid 2px red;
}

.todo {
    font-size: 2rem;
    color: blue;
}